{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
      .main-title {
        font-size: 30px;
        font-weight: bold;
        font-family: "GangwonEduAll";
        padding: 50px 50px 50px 0px;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/emotions.css' %}" />
    <title>감정 분석</title>
  </head>

  <body>
    <!-- nav바 -->
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="{% url 'main' %}"
          ><img
            class="logo"
            src="{% static 'image/logo_white.png' %}"
            width="145px"
            height="62px"
        /></a>
      </div>
      <ul class="navbar__menu">
        <li class="writing"><a href="{% url 'write' %}">일기쓰기</a></li>
        <li class="analysis"><a href="{% url 'emotions' %}">감정분석</a></li>
        <li class="my_page"><a href="{% url 'mypageMain' %}">마이페이지</a></li>
      </ul>
    </nav>

    <div class="root">
      <div class="main-title">감정분석 리포트</div>
      <div class="diary">
        <!-- 소제목1 -->
        <div class="content-section">
          <div class="content-section">
            {% for i in diaries %}
            <h2 class="diary_title">다이어리 요약</h2>
            <h3 class="inner_title">제목: {{ i.title }}</h3>
            {% comment %}
            <p class="diary_content">{{ i.summarize}}</p>
            {% endcomment %} {% endfor %}
          </div>
        </div>

        <!-- 소제목2 -->
        <div class="content-section">
          <h2 class="diary_title">{{ user.nickname }}님의 마음 비율은</h2>
          <div class="bar-chart">
            <div class="bar">
              <span class="g_term">긍정</span>
              <div class="bar-fill bar-positive" data-value="23"></div>
              <!-- bar-positive 클래스 추가 -->
              <span class="bar-label">23%</span>
            </div>
            <div class="bar">
              <span class="g_term">중립</span>
              <div class="bar-fill bar-neutral" data-value="27"></div>
              <!-- bar-neutral 클래스 추가 -->
              <span class="bar-label">27%</span>
            </div>
            <div class="bar">
              <span class="g_term">부정</span>
              <div class="bar-fill bar-negative" data-value="50"></div>
              <!-- bar-negative 클래스 추가 -->
              <span class="bar-label">50%</span>
            </div>
          </div>
        </div>

        <!-- 소제목3 -->
        <div class="content-section">
          <h2 class="diary_title">감정 분석리포트</h2>
          <p class="diary_content">
            {{ user.nickname }}님의 마음 상태는 ‘우울’ 같아요.
            <br />
            <br />{{ user.nickname }}님은 주로 ‘감정님과 함께할 때'
            우울하셨네요. <br />요즘 힘든 일이 많이 있으셨나요?
            <br />
            <br />남자친구의 갈등, 시간이 필요함 등이 <br />{{ user.nickname
            }}님의 일기에서 보여진 주요 내용입니다.
            <br />
            <br />일기를 다시 읽어보며 마음을 되돌아 보는 것은 어떨까요?
          </p>
        </div>

        <div class="content-section">
          <h2 class="diary_title">{{ user.nickname }}님의 마음 워드클라우드</h2>
          {% for wordcloud in wordcloud_images %}
          <img
            src="data:image/png;base64,{{ wordcloud.wordcloud_image_base64 }}"
            alt="Word Cloud"
            width="435px"
            height="336.38px"
          />
          {% endfor %}
        </div>

        <!-- 소제목5 -->
        <div class="content-section">
          <h2 class="diary_title">{{ user.nickname }}님을 위한 솔루션 제안</h2>
          <p class="diary_content">
            우울할 때 하기 좋은 것을 추천해 드릴게요.
            <br />
            <br />
            <br />명상하기: 명상하며 우울했던 것을 잊고 하나에 집중해 봐요.
            <br />노래 듣기: 노래를 들으며 자신이 좋아했던 것을 생각해 보세요!
          </p>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="wrapper"></div>
    <footer>ⓒ 마음이음. 2023 All rights reserved.</footer>
  </body>
</html>
