{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>마음이음_메인</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" rel="stylesheet"/>
</head>

<body>
<!-- nav바 -->
<nav class="navbar">
    <div class="navbar__logo">
        <a href="{% url 'main' %}"><img src="{% static 'image/logo_white.png' %}" width="145px" height="62px"></a>
    </div>
    <ul class="navbar__menu">
        <li class="writing"><a href="{% url 'write' %}">일기쓰기</a></li>
        <li class="analysis"><a href="{% url 'emotions' %}">감정분석</a></li>
        <li class="my_page"><a href="{% url 'mypageMain' %}">마이페이지</a></li>
    </ul>
</nav>

<div class="calendar_top">
    <div class="nickname_title">
        <div class="nickname1">{{ user.nickname }}</div>
        <div class="heart">♥</div>
        <div class="nickname2">{{ content.partner_nickname }}</div>
    </div>
    <div class="ward">
        <img class="backward" src="{% static 'image/backward.png' %}" width="18px" height="32px"/>
        <img src="{% static 'image/forward.png' %}" width="18px" height="32px"/>
    </div>
</div>

<div class="calendar">
    <div class="calendar_header">
        <div class="ym-wrapper">
            <span class="year"></span>년 <span class="month"></span>월
        </div>
    </div>
    <div class="calendar_main">
        <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
        </div>
        <div class="dates"></div>
    </div>
</div>

<div class="calendar_bottom">
    {% if content.start_date %}
        {{ days_passed }}일 째, 사랑 중♡
    {% endif %}
</div>


<!-- footer -->
<div class="wrapper"></div>
<footer>
    ⓒ 마음이음. 2023 All rights reserved.
</footer>

</body>
</html>

<script type="text/javascript">
    let date = new Date();

    const renderCalender = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth();

        document.querySelector(".year").textContent = `${viewYear}`;
        document.querySelector(".month").textContent = `${viewMonth + 1}`;

        const prevLast = new Date(viewYear, viewMonth, 0);
        const thisLast = new Date(viewYear, viewMonth + 1, 0);

        const PLDate = prevLast.getDate();
        const PLDay = prevLast.getDay();

        const TLDate = thisLast.getDate();
        const TLDay = thisLast.getDay();

        const prevDates = [];
        const thisDates = [...Array(TLDate + 1).keys()].slice(1);
        const nextDates = [];

        document.querySelector(".backward").addEventListener("click", () => {
            date.setMonth(date.getMonth() - 1);
            if (date.getMonth() === -1) {
                date.setMonth(11);
                date.setFullYear(date.getFullYear() - 1);
            }
            renderCalender();
        });

        document.querySelector(".forward").addEventListener("click", () => {
            date.setMonth(date.getMonth() + 1);
            if (date.getMonth() === 12) {
                date.setMonth(0);
                date.setFullYear(date.getFullYear() + 1);
            }
            renderCalender();
        });

        if (PLDay !== 6) {
            for (let i = 0; i < PLDay + 1; i++) {
                prevDates.unshift(PLDate - i);
            }
        }

        for (let i = 1; i < 7 - TLDay; i++) {
            nextDates.push(i);
        }

        const dates = prevDates.concat(thisDates, nextDates);
        const firstDateIndex = dates.indexOf(1);
        const lastDateIndex = dates.lastIndexOf(TLDate);
        dates.forEach((date, i) => {
            const condition =
                i >= firstDateIndex && i < lastDateIndex + 1 ? "this" : "other";
            dates[
                i
                ] = `<div class="date ${condition}" style="width: calc(100% / 7); display: inline-block; padding: 70px;">${date}</div>`;
        });

        document.querySelector(".dates").innerHTML = dates.join("");

        document.querySelector(".dates").style.display = "grid";
        document.querySelector(".dates").style.gridTemplateColumns = "repeat(7, 1fr)";

        document.querySelector(".dates").innerHTML = dates.join("");

        const today = new Date();
        if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
            for (let date of document.querySelectorAll(".this")) {
                if (+date.innerText === today.getDate()) {
                    date.classList.add("today");
                    break;
                }
            }
        }
    };

    renderCalender();

    const prevMonth = () => {
        date.setMonth(date.getMonth() - 1);
        renderCalender();
    };

    const nextMonth = () => {
        date.setMonth(date.getMonth() + 1);
        renderCalender();
    };

    const goToday = () => {
        date = new Date();
        renderCalender();
    };

</script>