* {
  font-family: "GangwonEduAll";
}

/* 달력 상단 */
.calendar_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
}

.nickname_title {
  display: flex;
  flex-direction: row;
}

.heart {
  font-family: "GangwonEduSaeeum";
  color: #a6212a;
}

.month {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* 달력 구현 */
.calendar {
  margin: 0 auto;
}
table {
  margin: 0px 70px 0px 70px;
}

td:hover {
  background-color: lightblue;
}

th {
  font-weight: bold;
  height: 50px;
  background-color: #f0e3f8;
  height: 29px;
  /* border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1); */
}

td {
  text-align: center;
  vertical-align: text-top;
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.backward {
  padding-right: 30px;
}
.emotion {
  padding-top: 20px;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

#today {
  font-weight: bold;
  background-color: bisque;
}

/* 달력 하단 */
.calendar_bottom {
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: end;
  display: flex;
  padding: 20px 70px 0px 0px;
}
