* {
    font-family: "GangwonEduAll";
}

/* 달력 상단 */
.calendar_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #fcfcfc;
    padding: 50px 0px 20px 0px;
}

.nickname_title {
    display: flex;
    flex-direction: row;
}

.heart {
    font-family: "GangwonEduSaeeum";
    color: #a6212a;
}

.month {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.backward {
    padding-right: 50px;
}

.calendar {
    background-color: #fcfcfc;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.calendar_header {
    display: inline-block;
    display: flex;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.ym-wrapper {
    font-size: 35px;
}

.calendar_nav {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 80%;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.calendar_main {
    border-collapse: collapse;
    width: 100%;
}

.days {
    display: flex;
    margin: 25px 10px 10px 0px;
    background-color: #ffffff;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    transition: all 0.3s;
    background-color: #f0e3f8;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    margin-right: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.dates {
    display: flex;
    flex-flow: row wrap;
}

.date {
    cursor: pointer;
    width: calc(100% / 7);
    /* padding: 5% 2%; */
    justify-content: center;
    text-align: center;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0px 60px 0px 60px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396ee2;
}

.other {
    color: rgba(88, 88, 88, 0.315) !important;
}

.today {
    position: relative;
    background-color: #ff1c1c96;
}

.selected {
    background-color: black;
    color: #ffffff !important;
}

/* 달력 하단 */
.calendar_bottom {
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: end;
    display: flex;
    padding: 20px 70px 0px 0px;
}