body {
    font-family: 'GangwonEduAll';
    font-weight: 'Medium';
}

.root {
    margin-top: 100px;
}

.write {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.write input {
    display: flex;
    /* flex-direction: column; */
    background: none;
    border: none;
    border: 0.2px solid #A9AFB3;
    border-radius: 5px;
    font-size: 12px;
}

.write_diary {
    width: 181px;
    height: 34px;
    top: 153px;
    left: 172px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.write_privacy_title {
    width: 109px;
    height: 23px;
    position: absolute;
    left: 172px;
    top: 238px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.write_emotion_title {
    width: 109px;
    height: 23px;
    position: absolute;
    left: 172px;
    top: 307px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.write_emotion_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 357.96px;
    height: 66px;
    position: absolute;
    left: 304px;
    top: 302px;
}

.emotion_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
}

.emotion_image img {
    width: 47.956px;
    height: 44px;
    flex-shrink: 0;
    cursor: pointer;

}

.emotion_text {
    color: #000;
    text-align: center;
    font-family: 'GangwonEduAll', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emotion_image.selected {
    border-color: #C0C0C0;
    background-color: #C0C0C0; /* 선택된 감정의 테두리 색상 */
}


/* 제목 입력 칸 스타일 */
.write_title {
    width: 1065px;
    height: 53px;
    position: absolute;
    left: 172px;
    top: 397px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'GangwonEduAll', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

/* 내용 입력 칸 스타일 */
.write_content {
    width: 1065px;
    height: 544px;
    position: absolute;
    left: 172px;
    top: 478px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'GangwonEduAll', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

/* 제목의 placeholder 텍스트 스타일 */
.title_input::placeholder {
    color: #C0C0C0;
    position: relative;
    left: 20px;
}

/* 내용의 placeholder 텍스트 스타일 */
.content_input::placeholder {
    color: #C0C0C0;
    position: relative;
    top: -242px; /* 원하는 만큼 텍스트를 위로 이동 */
    left: 20px;
}


.write_privacy_buttons {
    position: absolute;
    top: 223px;
    left: 304px;

}

.privacy_button {
    width: 78px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0.2px solid #C0C0C0;
    background: #FFF;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.privacy_button.selected {
    background-color: #C0C0C0; /* 선택된 공개/비밀 여부의 배경색 */
    color: white; /* 선택된 공개/비밀 여부의 글자색 */
}


/* 썸네일 이미지 업로드 텍스트 스타일 */
.thumbnail_upload_text {
    color: #C0C0C0;
    font-family: 'GangwonEduAll', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label.thumbnail_upload_text {
    cursor: pointer;
}

/* 업로드 버튼 칸 스타일 */
.thumbnail_upload_button {
    width: 193px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0.2px solid #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 172px;
    top: 1058px;
}


/* 작성 완료 버튼 스타일 */
.submit_button {
    display: flex;
    width: 145px;
    height: 56px;
    margin: 1131px 650px 35px 645px;
    /*padding: 16px 162px;*/
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #7209B7;
    color: #FFF;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    writing-mode: horizontal-tb;
}

/* 작성 완료 버튼 안의 텍스트 스타일 */
.submit_button .submit_button-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

/* footer */
.wrapper {
    height: 50px;
}