{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>로그인</title>
</head>
<body>
{% csrf_token %}
<!-- nav바 -->
<nav class="navbar">
    <div class="navbar__logo">
        <a href="{% static 'mainpage/main.html' %}"><img src="{% static 'image/logo_white.png' %}" width="145px"
                                                         height="62px"></a>
    </div>
    <ul class="navbar__menu">
        <li class="writing"><a href="#">일기쓰기</a></li>
        <li class="analysis"><a href="#">감정분석</a></li>
        <li class="login"><a href="#">로그인/회원가입</a></li>
    </ul>
</nav>

<!-- 로그인 창 -->
<div class="root">
    <img class="logo" src="{% static 'image/logo_black.png' %}" width="288px" height="122px">

    <form action="{% static 'Diary/write.html' %}" id="login-form">
        <div class="login_wrapper">
            <input type="text" name="id" placeholder="아이디를 입력해주세요" required>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required>
        </div>
        <div class="login_button">
            <input type="submit" id="submit_login" value="로그인">
        </div>
        <a href="/user/join">
            <div class="join">회원이 아니신가요? 회원가입 하러 가기</div>
        </a>
    </form>
</div>

<!-- footer -->
<div class="wrapper"></div>
<footer>
    ⓒ 마음이음. 2023 All rights reserved.
</footer>

<script>
    $("#login-form").submit(function (event) {
        event.preventDefault(); // 폼 기본 제출 동작을 막음

        let id = $("input[name='id']").val();
        let password = $("input[name='password']").val();
        let csrfToken = $("input[name='csrfmiddlewaretoken']").val();
        // AJAX 통신
        $.ajax({
            url: '/user/login',  // 실제 백엔드의 URL로 변경해야 합니다.
            data: {
                id: id,
                password: password,
                csrfmiddlewaretoken: csrfToken,
            },
            method: "POST",
            dataType: "json",
            success: function (data) {
                console.log("성공");
                alert("로그인 성공");
                location.href = "/content/main2";

            },
            error: function (request, status, error) {
                let data = JSON.parse(request.responseText);
                console.log(data.message);
                alert(data.message);
            }
        });
    });
</script>

</body>
</html>
