{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage2.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지2</title>

     <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<!-- nav바 -->
<nav class="navbar">
    <div class="navbar__logo">
        <a><img src="{% static 'image/logo_white.png' %}" width="145px" height="62px"></a>
    </div>
    <ul class="navbar__menu">
        <li class="writing"><a href="{% url 'write' %}">일기쓰기</a></li>
        <li class="analysis"><a href="{% url 'emotions' %}">감정분석</a></li>
        <li class="my_page"><a href="{% url 'mypageMain' %}">마이페이지</a></li>
    </ul>
</nav>

<div class="mypage">마이페이지</div>
<div class="nickname">(닉네임)님</div>
<a href="../mypage/unregister.html">
    <div class="out">회원탈퇴</div>
</a>

<div class="roots">
    <div class="pwChange">비밀번호 변경</div>
    <div class="new_pw">
        <div class="new_pw_title">새로운 비밀번호</div>
        <input type="password" name="password" placeholder="영어+숫자 6자 이상" required>
    </div>
    <div class="new_pw_cf">
        <div class="new_pw_title_cf">새로운 비밀번호 확인</div>
        <input type="password" name="password_cf" placeholder="영어+숫자 6자 이상" required>
        <button class="pw_button">변경하기</button>
    </div>

    <div class="new_couple">
        <div class="new_pw_title">연인 연결 해지</div>
        <button class="couple_end">연결 해지</button>
    </div>
</div>


<!-- footer -->
<div class="wrapper"></div>
<footer>
    ⓒ 마음이음. 2023 All rights reserved.
</footer>
</body>
</html>