{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypageMain.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지_메인</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
{% csrf_token %}
<!-- nav바 -->
<nav class="navbar">
    <div class="navbar__logo">
        <a href="{% url 'main' %}"><img src="{% static 'image/logo_white.png' %}" width="145px" height="62px"></a>
    </div>
    <ul class="navbar__menu">
        <li class="writing"><a href="{% url 'write' %}">일기쓰기</a></li>
        <li class="analysis"><a href="{% url 'emotions' %}">감정분석</a></li>
        <li class="my_page"><a href="{% url 'mypageMain' %}">마이페이지</a></li>
    </ul>
</nav>

<div class="mypage">마이페이지</div>
<div class="nickname">{{ request.user.nickname }}님</div>

<div class="current_pw">
    <div class="join_pw_title">현재 비밀번호</div>
    <input type="password" name="password" placeholder="영어+숫자 6자 이상" required>
    <button class="pw_button">확인</button>
</div>


<!-- footer -->
<div class="wrapper"></div>
<footer>
    ⓒ 마음이음. 2023 All rights reserved.
</footer>

<script>
    $(document).ready(function () {
        $(".pw_button").click(function () {
            var currentPassword = $("input[name='password']").val();  // 현재 비밀번호 입력값 가져오기
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            // AJAX 요청 보내기
            $.ajax({
                type: "POST",
                url: "/user/mypageMain",  // 비밀번호 확인을 처리하는 엔드포인트 URL로 변경해야 합니다.
                data: {
                    current_password: currentPassword,
                    csrfmiddlewaretoken: csrfToken,
                },
                method: "POST",
                success: function (data) {
                    // 서버로부터 응답을 받았을 때 실행되는 코드
                    alert(data.message);
                    location.href = "/user/mypage";  // 실제 마이페이지 URL로 변경해야 합니다.
                },

                error: function (request, status, error) {
                    let data = JSON.parse(request.responseText);
                    console.log(data.message);
                    alert(data.message);
                }
            });
        });
    });

</script>


</body>
</html>